<h1>Home</h1>

<table>
  <thead>
  <tr>
    <th>
      List Endpoint
    </th>
    <th>
      Description
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= link_to 'Companies List', companies_path, class: 'button button-primary'%>
    </td>
    <td>
      List of companies, here you can create / show / edit companies also there
      is a list of taximeters per company
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Search', search_path, class: 'button button-primary' %>
    </td>
    <td>
      Here you can find taximeters
    </td>
  </tr>
  </tbody>
</table>